<main role="main">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="https://dummyimage.com/340x280/717171/fff.jpg&text=placeholder-image" alt="Card image cap">
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title | Year | Ratings</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-header">
              Builder Name
            </div>
            <div class="card-header">
                Featured items
              </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>

            <div class="card-body">
              <a href="#" class="card-link">Vote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
