<main role="main">
    <div class="py-5 bg-light">
      <div class="container">
        <form>
          <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label">Bike List</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="search" placeholder="Search">
            </div>
            <div class="col-sm-2">
              <div class="dropdown">
                  <button class="btn btn-outline-primary dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                  </div>
                </div>
            </div>
          </div>
          </form>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://dummyimage.com/640x480/717171/fff.jpg&text=placeholder-image" alt="Card image cap">
              <div class="card-body">
                <p>Model | year</p>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is
                  a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button routerLink="/bikes/1" type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Vote</button>
                  </div>
                  <small class="text-muted">4 ratings</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://dummyimage.com/640x480/717171/fff.jpg&text=placeholder-image" alt="Card image cap">
              <div class="card-body">
                <p>Model | year</p>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is
                  a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button routerLink="/bikes/2" type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Vote</button>
                  </div>
                  <small class="text-muted">9 ratings</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://dummyimage.com/640x480/717171/fff.jpg&text=placeholder-image" alt="Card image cap">
              <div class="card-body">
                <p>Model | year</p>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is
                  a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button routerLink="/bikes/3" type="button" class="btn btn-sm btn-outline-primary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Vote</button>
                  </div>
                  <small class="text-muted">5 ratings</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
